/* fonts */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/* **************
header styles
***************** */
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #2D25A0;
}
.head-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.container{
    
    width: 1000px;
    padding-top: 10px;

}
.top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
      
}
.header-left{
    width: 490px;
    color: #FFFFFF;
    margin-right: 80px;
    display: flex;
    flex-direction: column; justify-content: center;
    /* padding-bottom: 100px; */
}
.title-left-header{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 10px;

}
.btn a{
    text-decoration: none;
}
.btn {
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px, 24px, 10px, 24px;
    border: none;
    cursor: pointer;
    transition: 1S ease;
}
.btn-arrow{
    
}

.btn:hover{
transform: translateX(5%);
}
.btn-text{
font-size: 16px;
font-weight: 500;
color: #FFFFFF;
}
.btn-arrow{
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 8px;
    
    width: 24px;
    height: 24px;
    
}
.header-right{
    width: 500px;
    margin-left: 80px;
}
.top .header-right img{
    width: 420px;
}
/******************
 main style
 *************** */
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .players img{ 
width: 300px;
 }
 .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    margin-bottom: 140px;
    margin-top: 70px;
   
 }
 .player{
     display: flex;
     flex-direction: column;
     width: 300px;
     box-shadow: 0px 0px 40px 0px #00000026;
     padding: 10px;
     margin: 10px;
     border-radius: 9px;
 }


 .players .player-name{
     font-size: 28px;
     font-weight: 700;
     padding-top: 5px;
     padding-bottom: 5px;
     
 }
 .players .player-details{
     font-size: 16px;
     font-weight: 400;
     opacity: 50%;
    
 }
/* ********
style all high lights
******* */
.highlits-left{
    width: 490px;
    color: black;
    margin-right: 80px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* padding-bottom: 80px; */
}
.highlits-left .title-left-header{
    font-size: 45px;
}
/* footer stylegig */
.footer-part{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-part .logo img{
    width: 483px;
    height: 100px;
  
    
}
.footer-part .logo{
   
}